$navbar-nav-gap: map-get($gapspace , '6');
$navbar-nav-gap-mobile: map-get($gapspace , '4');
$dropdown-icon-size: $edw-icon-size-large;
$navbar-logo-bg-color: $white !default;
$navbar-logo-max-width:240px;
$navbar-shadow: true !default;
$navbar-shadow-size: 0.813rem !default;
$navbar-shadow-blur: 2.313rem !default;
$navbar-shadow-color: rgba(92, 107, 121, 0.1) !default;

@import './components/nav_search';

body.transparent-header:not(body.latest-frontpage.transparent-header){
    .navbar{
        box-shadow: unset;
        &.trasnparent-home-nav{
            background-color: transparent !important;
            .sub-nav{
                background-color: transparent !important;
            }
            .navbar-brand{
                background-color: transparent !important;
            }
        }
    }
    #page{
        margin-top: 0px !important;
        background-color: transparent;
    }
    &.editing{
        #block-region-full-width-top{
            section.block:first-child{
                .block-body-wrapper{
                    position: relative;
                    .block-header-wrapper{
                        position: absolute;
                        z-index: 5;
                        top: $navbar-height;
                        right: 40px;

                        .controls-wrapper {
                            padding-right: 10px;
                        }
                    }
                }
            }
        }
    }
}

.navbar {
    background-color: $bg-header;
    padding : 0px;
    @if $navbar-shadow != false {
        box-shadow: 0 $navbar-shadow-size $navbar-shadow-blur $navbar-shadow-color;
    }
    [data-key="myhome"] {
        display: $hide-dashboard;
    }
    [data-key="home"] {
        display: $hide-home;
    }
    [data-key="mycourses"] {
        display: $hide-my-courses;
    }
    [data-key="siteadminnode"] {
        display: $hide-site-admin;
    }
    [data-key="coursecat"] {
        display: $show-coursecat;
    }
    [data-key="recentcourses"] {
        display: $show-recentcourses;
        .dropdown-menu{
            min-width: 388px;
            .dropdown-item{
                white-space: normal;
                word-break: break-word;
            }
        }
    }
    #usernavigation {
        .userinitials {
            width: $navbar-avatar-size;
            height: $navbar-avatar-size;
            font-size: 15px;
            font-weight: 600;
            color: $navbar-userinitials-color;
            @media only screen and (max-width: $custom-breakpoint-xs) {
                width: $navbar-avatar-size-sm;
                height: $navbar-avatar-size-sm;
            }
        }
        // Rounded user pictures
        .userpicture {
            width: $navbar-avatar-size;
            height: $navbar-avatar-size;
            @media only screen and (max-width: $custom-breakpoint-xs) {
                width: $navbar-avatar-size-sm;
                height: $navbar-avatar-size-sm;
            }
        }
        .divider {
            width: 1px;
            background-color: $header-menu-divider-bg-color;
            border: 0;
            opacity: 0.7;
            min-height: 36px;
        }

        // Old code
        // .popover-region:not(.collapsed) .popover-region-toggle .edw-icon {
        //     color: $hds-icon-active-color;
        // }

        .nav-link:focus{
            .edw-icon{
                color: $hds-icon-active-color;
            }
        }
        .popover-region .nav-link:hover{
            color: $hds-icon-hover-color;;
        }

        #nav-notification-popover-container:not(.collapsed) .nav-link .edw-icon-Notification {
            color: $hds-icon-active-color;
        }

        // #nav-message-popover-container:not(.collapsed) .nav-link .edw-icon-Comment-03 {
        //     color: $brand-primary;
        // }

        #nav-message-popover-container .nav-link:focus .edw-icon-Comment-03{
            color: unset;
        }
    }
    .sub-nav {
        .primary-navigation,
        #usernavigation,
        #user-action-menu,
        .popover-region-container,
        .simplesearchform input,
        .simplesearchform input::placeholder {
            font-family: $hds-menu-font-family;
            font-size: #{$hds-menu-fontsize}px;
            text-transform: $hds-menu-text-transform;
            letter-spacing: $hds-menu-letter-spacing;
            font-weight: $hds-menu-fontweight;
        }
    }
    .primary-navigation {
        .nav-link.active {
            color: $header-menu-text-active-color;
            &::before {
                border-bottom-color: $header-menu-text-active-color;
            }
        }
        // .nav-item.dropdown {
        // background-color: $header-menu-element-bg-color;
        // .dropdown-toggle {
        //     background: transparent;
        // }
        // }
        // To fix positioning issue of moremenu dropdown
        .moremenu.navigation {
            .nav-item.dropdownmoremenu {
               .dropdown-menu.dropdown-menu-start {
                  top: 100%;
               }
            }
        }
    }
    .primary-navigation,
    #usernavigation {
        .nav-link,
        .more-nav > .dropdown > .dropdown-toggle {
            // background-color: $header-menu-element-bg-color;
            color: $header-menu-text-color;
            &:hover {
                color: $header-menu-text-hover-color;
            }
            &:active {
                color: $header-menu-text-active-color;
            }
        }
    }
    .custom-switch {
        .custom-control-label::before {
            background-color: $header-menu-element-bg-color;
            // border-color: $header-menu-divider-bg-color;
            border-color: #b5bcc7;
        }
        .custom-control-label::after {
            // border-color: $header-menu-divider-bg-color;
            border-color: #b5bcc7;
        }
        .custom-control-input {
            &:checked {
                & ~ .custom-control-label::before {
                    background-color: #37be71;
                }
            }
        }
    }
    .edw-icon {
        font-size: $navbar-icon-size;
        height: $navbar-icon-size;
        width: $navbar-icon-size;
        // color: $navbar-icon-color;
        color: $hds-icon-color;
        font-weight: 400;
        &:hover {
            color: $hds-icon-hover-color;
        }
    }
    /*This is to handle Profile dropdown icons.*/
    #user-action-menu {
        // Quick fix for testing purpose only
        top: 47px !important;
        #usermenu-carousel {
            .carousel-item {
                transition: transform .1s ease-in-out;
            }
            #carousel-item-main {
                .dropdown-item {
                    display: flex;
                    padding: $dropdown-iconitem-padding-y $dropdown-item-padding-x;
                    align-items: center;
                    gap: 8px;
                }
            }
            .dropdown-divider {
                margin-top: 0;
            }
        }
    }

    .popover-region-toggle {
        .count-container {
            right: -5px;
        }
    }
    .usermenu-wrapper{
        .usermenu-container{
            .usermenu{
                #user-menu-toggle{
                    color: $header-menu-text-color;
                    &:hover{
                        color: $header-menu-text-hover-color;
                    }
                    &[aria-expanded="true"]:active {
                        color: $header-menu-text-active-color;
                    }
                }
            }
        }
    }
    .dropdown-menu{
        margin-top: map-get($spacerspx, '6');
    }
}

.navbar-nav {
    gap: $navbar-nav-gap;
    .usermenu-wrapper {
        gap: $navbar-nav-gap;
        padding: 0 1px;
    }
    @include media-breakpoint-down(sm) {
        gap: $navbar-nav-gap-mobile;
        .usermenu-wrapper {
            gap: map-get($gapspace, "4");
        }
    }
    @media only screen and (max-width: $custom-breakpoint-xs) and (min-width:340px) {
        gap: map-get($gapspace, "4");
        #user-menu-toggle::after{
            content: '';
        }
    }
    @media only screen and (max-width: 340px) {
        gap:map-get($gapspace, "1");
        #user-menu-toggle::after{
            content: '';
        }
    }
}


.navbar-brand{
    padding: 0 map-get($gapspace, '4');
    height: $navbar-height;
    &.logo,.navbar-brand-logo {
        max-height: 100%;
        margin: 70px 20px 20px 10px;
        height: calc(86px - 35px - 10px);//calc(#{$navbar-height} - #{$navbar-vertical-padding} - #{$navbar-vertical-padding});
        display: flex;
        align-items: center;
    }
}
.dropdown {
    .dropdown-item[aria-current="true"],
    .dropdown-item.active {
        background-color: $bg-small-ui;
        color: $dropdown-link-color;
    }
    &.show {
        > .dropdown-toggle {
            color: $brand-primary;
            background-color: $header-text-hover-backgroundcolor;
        }
    }
}

.dropdown-toggle{
    display: flex !important;
    align-items: center;       
    
    &::after {
        font-family: #{$remui-icon-font-family};
        content: "\55";
        font-size: 15px;
        margin-left: 0;
    }
}

.dropdownmoremenu {
    &:not(.d-none) {
        display: flex;
        align-items: center;
    }
    .dropdown-toggle.nav-link {
        height: $dropdown-icon-size;
        width: $dropdown-icon-size;
        justify-content: center;
        background: $header-menu-element-bg-color;
        border-radius: 2px;
        margin: 0 8px;
        // &:hover {
        //     background: $bg-header-ele;
        // }
        span {
            // margin-top: -10px;
            font-size: $edw-icon-size-large;
        }

        &::after {
            display: none;
        }
    }
}
#user-menu-toggle {
    padding: 0;
}

.primary-navigation .navigation .catselector-menu {
    &.nav-link {
        background-color: $header-menu-element-bg-color;
        border-radius: 4px;
        padding-left: map-get($spacerspx, '3');
        padding-right: map-get($spacerspx, '3');
        // &:hover {
        //     background: $bg-header-ele;
        // }
    }
    + .dropdown-menu {
        max-height: 450px;
        min-width: 450px;
        max-width: 980px;
        width: max-content;

        @include media-breakpoint-down(lg) {
            max-width: 700px;
        }

        .dropdown-item {
            white-space: pre-wrap;
        }
        .catsearchfield {
            position: sticky;
            top: 0;
            background-color: $white;
        }
    }
}

.navbar.right {
    flex-direction: row-reverse;
    .p-ml-md-8 {
        margin-right: map-get($spacerspx, '8');
        margin-left: 0;
    }
    .p-mr-4 {
        margin-right: 0;
        margin-left: map-get($spacerspx, '4');
    }
}
.sub-nav {
    padding: $navbar-padding-y $navbar-padding-x;
}
.sub-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 40px 0px 0px 0px;
    padding: map-get($spacerspx, '4') map-get($spacerspx, '6');
    background-color: $navbar-background-color;
}
.navbar-brand-logo {
    font-size: $navbar-logo-text-size;
    @include media-breakpoint-down(md) {
        font-size: $navbar-logo-text-size-tablet;
    }
}
.navbar-brand {
    background-color: $navbar-logo-bg-color;
}

// Make navbar height available for non-sass use (in some place in core mustache file they have used --navbar-height.
:root {
    --navbar-height: #{$navbar-height};
}

body:has(.drawer:not(.hidden) .message-app) {
    #usernavigation #nav-message-popover-container .nav-link .edw-icon-Comment-03 {
        color: $hds-icon-active-color;
    }
}

.edw-m502 {
  .navbar {
    .usermenu-wrapper {
      .usermenu-container {
        .usermenu {
          #user-menu-toggle {
            &::after {
              content: unset;
            }
          }
        }
      }
    }
  }
}
/* ==========================================================
   UCA Custom Header
   ========================================================== */

.uca-topbar {
    padding-left: 30px;
    padding-right: 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #1f2432;
    color: #fff;
    z-index: 1051;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    line-height: 48px;
    font-weight: 500;
}

.uca-topbar .me-4 a .fa-phone,
.uca-topbar .me-4 a .fa-envelope {
    color: #00b7ff;
}
.uca-topbar:focus-visible {
    text-decoration: none !important;
}

.uca-topbar .top-contact {
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.navbar.fixed-top {
    top: 42px !important;
}

.navbar {
    min-height: 86px;
}

.sub-nav {
    background: #fff !important;
    min-height: 140px;
    padding: 40px 0px 0px 10px;
}

.navbar-brand {
    height: 140px;
}

.uca-topbar a {
    color: #fff;
    text-decoration: none;
}

.uca-topbar a:hover {
    color: #00b7ff; 
}

.header-top-social-share {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-left: 10px;
}


.header-top-phone,
.header-top-email {
    margin-right: 25px;
}

#page {
    margin-top: 128px;
}
.primary-navigation .navigation .catselector-menu.nav-link{
    background-color:#fff !important;
    border-radius:0px !important;
    padding-left:12px !important;
    padding-right:12px !important;
}
.navbar .primary-navigation .nav-link{
    font-size:14px;
    font-weight:600;
}
.navbar .primary-navigation .nav-link.active::before{
    border-bottom: none!important;
}
.sub-nav {
    background: #fff!important;
    min-height: unset !important;  
    padding: unset !important; 
}

.navbar-brand {height: unset !important;}

.custom-nav-cc-group {margin-top:48px !important}

.navbar-brand.logo, .navbar-brand .navbar-brand-logo {
    max-height: 100%;
    margin: 20px 20px 20px 10px !important;
    height: calc(86px - 35px - 10px);
    display: flex;
    align-items: center;
}

.sub-nav {
    min-height: 80px !important;
    padding: 0 40px !important;
    display: flex !important;
    align-items: center !important;
}

.navbar-brand {
    height: 80px !important;
    margin: 0 10px !important;
}

.navbar {
    min-height: 80px !important;
}


.uca-topbar {
    position: fixed !important;
    top: 0 !important;
    width: 100%;
    z-index: 1052 !important;
    transition: top 0.1s ease-in-out !important; 
}


.navbar.fixed-top {
    position: fixed !important;
    top: 42px !important;
    width: 100%;
    z-index: 1051 !important;
    transition: top 0.3s ease-in-out !important;
}


body.scrolled .uca-topbar {
    top: -52px !important; 
}

body.scrolled .navbar.fixed-top {
    top: -52px !important; 
}


#page {
    margin-top: 122px !important; 
}

body.scrolled .custom-nav-cc-group {margin-top:0 !important;}

.primary-navigation .navbar-nav li {
    padding:0 5px !important;
}
.uca-topbar * {font-size:13px !important}
.uca-topbar .me-4.custom-icon-cc-phonegroup  {
    border-right: 1px solid #4b4b4b !important;
    padding-right: 30px !important;
    margin-right:30px !important;
}

.navbar .primary-navigation .nav-link, .navbar .primary-navigation .more-nav>.dropdown>.dropdown-toggle:focus {
    box-shadow:none !important
}

.navbar .primary-navigation .nav-link, .navbar .primary-navigation .more-nav>.dropdown>.dropdown-toggle:focus-visible {
    box-shadow:none !important
}
.dropdown-menu {
    min-width :250px !important;
    padding:10px 0 15px !important
}

.dropdown-menu a {
    color:#1e1e1e !important;
    font-weight:bold !important;;
}

.navbar-brand {border-right:1px solid #e1e1e1 !important}

.dropdown-item[role="menuitem"]:hover {background-color:unset !important; color:#0051f9 !important}


.navbar .primary-navigation .nav-link {
    font-size: 14px;
    font-weight: 600;
    color: #1e1e1e !important;
}   

.dropdown-menu.dropdown-menu-start {overflow-x:hidden !important;}

.dropdown-menu.dropdown-menu-start .dropdown-menu {top:40px !important}


 @media (min-width: 992px) {
    .primary-navigation .navbar-nav > .dropdown:not(.dropdownmoremenu) {
        position: relative !important;
    }

    .primary-navigation .navbar-nav > .dropdown:not(.dropdownmoremenu) > .dropdown-menu {
        display: block !important;
        position: absolute !important;
        left: 0 !important;
        transform: none !important; 
        visibility: hidden;
        opacity: 0;
        margin-top: 0 !important;
        transition: opacity 0.2s ease-in-out, visibility 0s linear 0.2s !important;
        top: 60px !important;
        border: none !important;
        box-shadow: none !important;
    }

    .primary-navigation .navbar-nav > .dropdown:not(.dropdownmoremenu):hover > .dropdown-menu {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.2s ease-in-out, visibility 0s linear 0s !important;
    }

    .primary-navigation .navbar-nav > .dropdown:not(.dropdownmoremenu) > .dropdown-toggle {
        pointer-events: none !important; 
    }

    .dropdown-item {
        font-weight: 600 !important;
    }

    .primary-navigation .dropdownmoremenu .dropdown-menu {
        display: none;
        visibility: visible !important;
        opacity: 1 !important;
        transition: none !important;
        top: 100% !important;
        position: absolute !important;
        margin-top: 0 !important;
        max-height: none !important;
        overflow-y: visible !important;
    }

    .primary-navigation .dropdownmoremenu.show > .dropdown-menu,
    .primary-navigation .dropdownmoremenu .dropdown.show > .dropdown-menu,
    .primary-navigation .dropdownmoremenu .dropdown-menu.show {
        display: block !important;
    }

    .primary-navigation .dropdownmoremenu .dropdown-toggle,
    .primary-navigation .dropdownmoremenu .dropdown-item {
        pointer-events: auto !important; 
        outline: none !important;
        box-shadow: none !important;
    }

    .primary-navigation .dropdownmoremenu .dropdown-item.active,
    .primary-navigation .dropdownmoremenu .dropdown-item:active,
    .primary-navigation .dropdownmoremenu .dropdown-item:focus,
    .primary-navigation .dropdownmoremenu .dropdown-item:focus-visible,
    .primary-navigation .dropdownmoremenu .dropdown-item[aria-current="true"] {
        background-color: transparent !important;
        outline: none !important;
        box-shadow: none !important;
    }

    .primary-navigation .dropdownmoremenu .dropdown-item::before,
    .primary-navigation .dropdownmoremenu .dropdown-item::after {
        display: none !important;
        content: none !important;
    }

   
    .primary-navigation .dropdownmoremenu > .dropdown-toggle::after {
        display: none !important;
    }


    .primary-navigation .dropdownmoremenu .dropdown .dropdown-toggle::after {
        font-family: #{$remui-icon-font-family} !important;
        content: "\55" !important;
        font-size: 13px !important;
        margin-left: auto !important;
        display: inline-block !important;
    }

.dropdown-menu.dropdown-menu-start.show {
    min-height:auto !important
}

}
@media all and (max-width:767px) {
    .drawer.drawer-left.drawer-primary.d-print-none.show {
        z-index:9999 !important;
    }
}
 
@media all and (max-width:576px) {
.custom-nav-cc-group {margin-top:0px !important}
body.scrolled .custom-nav-cc-group {margin-top:48px!important;}
}
.navbar .primary-navigation .nav-link:hover {
color:#0051f9!important
}
#page-login-index #page {
    margin-top: 0 !important;
}
@media all and (max-width:767px) {
.uca-topbar {
    display:none;
}
.custom-nav-cc-group {margin-top:0 !important}
}
 
@media all and (max-width:575px) {
 
.custom-nav-cc-group {margin-top:0 !important}
    .navbar.fixed-top {top:0 !important;}
    body.scrolled .navbar.fixed-top {
    top: 0 !important;
}
    body.scrolled .custom-nav-cc-group {
    margin-top: 0 !important;
} 
  }