{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    Edwiser RemUI
    @package theme_remui
    @copyright (c) 2023 WisdmLabs (https://wisdmlabs.com/)
    @license http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License.

    Edwiser RemUI
    @package theme_remui
}}
{{!
    UCA Custom Footer - Secondary
}}

<div class="uca-footer-bottom">

    <div class="container">

        <!-- Social -->
        <div class="footer-social">

            <a href="https://www.linkedin.com/company/universal-college-of-australia/"
               target="_blank"
               rel="noopener noreferrer"
               aria-label="LinkedIn">

                <i class="fa fa-linkedin-square"></i>

            </a>

        </div>
        <!-- Codes -->
        <div class="footer-codes">

        <a href="#">CRICOS Provider Code:</a> &nbsp;|&nbsp; 
        <a href="#">Registered Training Organisation Code:</a> 
        &nbsp;|&nbsp;&nbsp;<a href="#">Institute of Higher Education:</a>

        </div>  
    </div>
</div> 
<!-- Copyright -->
<div class="section-copyright">
        <section class="copyright-all-group-cc">
        <div class="footer-copyright">
            © 2026 Universal College of Australia. All rights reserved.
        </div>

        <!-- Acknowledgement -->

        <div class="footer-acknowledgement">

            Universal College of Australia acknowledges and pays respect to the past,
            present and future Traditional Custodians and Elders of this nation and
            the continuation of cultural, spiritual and educational practices of
            Aboriginal and Torres Strait Islander peoples.

        </div>
        </section>
</div>
